
/* Track Styles */
#ci_repeating_tracks table {
}

table.tracks {
	border-color: #DFDFDF;
	border-radius: 3px 3px 3px 3px;
	box-shadow: 0 1px 0 #FFFFFF inset;
	width: 100%;
	margin-top: 20px;
}

table.tracks thead tr {
	border-color: #DFDFDF;
	border-radius: 3px 3px 3px 3px;
	box-shadow: 0 1px 0 #FFFFFF inset;
}

table.tracks thead th {
	border-bottom: 1px solid #000;
}

table.tracks thead th {
	font-size: 13px;
	font-weight: normal;
	line-height: 1;
	margin: 0;
	padding: 7px 10px;
	font-family: Georgia,"Times New Roman","Bitstream Charter",Times,serif;
	text-align: left;
	border-bottom-color: #DFDFDF;
	box-shadow: 0 1px 0 #FFFFFF;
	text-shadow: 0 1px 0 #FFFFFF;

	background-image: linear-gradient(bottom, #ECECEC 0%, #F9F9F9 100%);
	background-image: -o-linear-gradient(bottom, #ECECEC 0%, #F9F9F9 100%);
	background-image: -moz-linear-gradient(bottom, #ECECEC 0%, #F9F9F9 100%);
	background-image: -webkit-linear-gradient(bottom, #ECECEC 0%, #F9F9F9 100%);
	background-image: -ms-linear-gradient(bottom, #ECECEC 0%, #F9F9F9 100%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, #ECECEC),
		color-stop(1, #F9F9F9)
	);
}

table.tracks td {
	padding: 5px 3px;
}

table.tracks input,
table.tracks textarea {
	width: 100%;
	padding: 7px 5px;
	resize: none;
}

table.tracks tbody:nth-child(2n-1) {
}

table.tracks tbody tr:nth-child(1) td {
	padding-top: 15px;
}

table.tracks tbody tr:nth-child(2) td {
	padding-bottom: 15px;
	border-bottom: 1px solid rgba(204, 204, 204, 0.43);
}

table.tracks .ui-sortable-helper {
	background: rgba(255, 255, 0, 0.05) !important;
	border: 1px dotted #ccc;

}

table.tracks .ui-sortable-placeholder {

}

table.tracks tbody {
	border-top: 1px solid #fff;
	background-image: linear-gradient(bottom, #ECECEC 0%, #F9F9F9 100%);
	background-image: -o-linear-gradient(bottom, #ECECEC 0%, #F9F9F9 100%);
	background-image: -moz-linear-gradient(bottom, #ECECEC 0%, #F9F9F9 100%);
	background-image: -webkit-linear-gradient(bottom, #ECECEC 0%, #F9F9F9 100%);
	background-image: -ms-linear-gradient(bottom, #ECECEC 0%, #F9F9F9 100%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, #ECECEC),
		color-stop(1, #F9F9F9)
	);

	cursor: move;
}

table.tracks .track-no {
	text-align: center;
}

.cell-centered { text-align: center !important;; }

table.tracks tbody tr:first-child td:first-child {
	font-family: Georgia,"Times New Roman","Bitstream Charter",Times,serif;
	font-size: 14px;
	text-shadow: 1px 1px rgba(255,255,255,1);
}

table.tracks .wp-media-buttons {
	position: relative;
}

.ci-upload-track {
	position: absolute;
	top: 3px;
	right: 1px;
	margin: 0 !important;
	padding: 0 6px 1px !important;
}

table.tracks input.with-button {
	padding-right: 40px
}